.seller {
   display: flex;
   flex-direction: column;
   width: 100%;
   background-color:#FFFFFF;
}
.wrapper, .container{
   width: 1723px; 
   margin: 0 auto;
   background-color: #FFFFFF;
}
h3{
   font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: 900;
   font-size: 30px;
   line-height: 120%;
   color: #000000;
}
.container{
   display: flex;
   justify-content: space-between;
   margin-top: 76px;
   margin-bottom:150px;
}
.settingsMenu{
   display: flex;
   flex-direction: column;
}
.settingsMenuItems{
   width: 771px;
   height: 393px;
   left: 590px;
   top: 387px;
   background: #D9D9D9;
}