.categories{
   display: flex;
   justify-content: start;
   align-items: center;
   padding: 0;
   margin-top: 40px;
}
.wrapper{
   display:flex;
   flex-wrap:nowrap;
   max-width: 1723px; 
   padding: 0;
}
.link{
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 600;
   font-size: 25px;
   line-height: 30px;
   letter-spacing: 0.03em;
   padding: 5px;
   color: #5A5757;
   background-color: white;
   border: 1px solid transparent;
   list-style: none;
   align-items: center;
   margin-right: 45px;
   transition: all 500ms ease;
}
.link:hover {
   border:1px solid #5A5757;
   cursor: pointer;
}
@media  screen and (max-width: 1722px)  and (min-width: 1366px){
  .wrapper{
      width: 1366px;
      padding: 0;
   }
   .link {
      font-weight: 500;
      font-size: 22px;
      line-height: 22px;
      margin-right: 45px;
   }
}
@media  screen and (max-width: 1365px)  and (min-width: 1009px){
  .wrapper{
      width: 1009px;
   }
   .link {
      font-weight: 300;
      font-size: 22px;
      line-height: 20px;
   } 
}
@media  screen and (max-width: 1008px)  and (min-width: 652px){
   .categories{
      margin-top: 0;
   }
   .wrapper{
      width: 652px;
   }
   .link {
      font-weight: 200;
      font-size: 18px;
      line-height: 22px;
      margin-right: 10px;
   }
}
@media  screen and (max-width: 651px)  and (min-width: 295px){
   .categories{
      width: 130px;
      margin-top: 10px;
   }
   .wrapper{
      flex-direction: column;
      width: 310px;
      padding: 0;
}
   .link {
      font-weight: 200;
      font-size: 22px;
      line-height: 22px;
      padding-top: 20px;
   }
}