.header{
   display: flex;
   flex-direction: column;
   width: 100%;
}
.header_dark{
   background-color:  #DADADA;
   height: 107px;
}
.header_light{
   background-color: #FFFFFF;
   height: 136px;
}
.header_dark_wrap{
   max-width: 1723px;
   height: 107px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header_light_wrap{
   max-width: 1723px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   margin-top: 50px;
}
.logo{
   width: 152px;
   font-family: 'SF Pro Display'; 
   font-style: normal;
   font-weight: 900;
   font-size: 40px;
   line-height: 120%;
   font-family: "Inter", sans-serif;
   color: #000000;
}
.header_dark_left, .header_dark_right{
   display: flex;
   justify-content: start;
   align-items:center;
}
.language{
   display: flex;
   justify-content: center;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #000000;
   width: 39px;
   height: 28px;
   margin-right: 21px;
   background-color: transparent;
   border: 1px solid transparent;
}
.enter_first{
   padding: 10px 20px;
   font-family: 'Gilroy';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.03em;
   color: #5A5757;
   border: 1px solid #5A5757;
   margin-left: 54px;
}
.burgerMenu{
   display:none;
}
@media  screen and (min-width: 1722px) {
   .enter_second{
      display:none;
   }
}
@media  screen and (max-width: 1722px)  and (min-width: 1366px){
   .header_dark_wrap{
      max-width: 1366px;
   }
   .header_light_wrap{
      max-width: 1366px;
   }
   .logo{
      font-weight: 700;
      font-size: 32px;
   }
   .enter_first{
      margin-left: 20px;
   }
   .enter_second{
      display:none;
   }
}
@media  screen and (max-width: 1365px)  and (min-width: 1009px){
   .header_light{
      height: 136px;
   }
   .header_dark_wrap{
      flex-direction: column;
      max-width: 1009px;
      margin: 0 auto;
   }
   .header_light_wrap{
      max-width: 1009px;
   }
   .logo{
      display:none;
      /* font-weight: 600;
      font-size: 30px; */
   }
   /* .header_dark_right{
      display:none;
   } */
   .enter_first{
      display:none;
   }
   .enter_second{
      padding: 10px 20px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.03em;
      color: #5A5757;
      border: 1px solid #5A5757;
      margin-left: 20px;
      margin-left: 94px;
   }
}
@media  screen and (max-width: 1008px)  and (min-width: 652px){
   .header_dark_right{
      display:none;
   }
   .enter_first{
      display:none;
   }
   .enter_second{
      display:none;
   }
   .header_light{
      height: 136px;
   }
   .header_dark_wrap{
      max-width: 652px;
      margin: 0 auto;
   }
   .header_light_wrap{
      max-width: 652px;
   }
   .logo{
      width: 130px;
      font-weight: 600;
      font-size: 24px;
   }
   .burgerMenu{
      display: flex;
      align-items: center;
      cursor: pointer;
   }
   .burgerButton{
      width: 24px;
      height: 15px;
      margin-right: 40px;
      position: relative;
      cursor: pointer;
      background-color:#DADADA;
   }
   .burgerButton::before{
      content: '';
      position: absolute;
      top: 0;
      width: 24px;
      height: 3px;
      background-color: black;
   }
   .burgerButton span{
      position: absolute;
      top: 6px;
      width: 24px;
      height: 3px;
      background-color: black;
   }
   .burgerButton::after{
      content: '';
      position: absolute;
      bottom: 0;
      width: 24px;
      height: 3px;
      background-color: black;
   }
}
@media  screen and (max-width: 651px)  and (min-width: 295px){
   .header_dark_right{
      display:none;
   }
   .enter_first{
      display:none;
   }
   .enter_second{
      display:none;
   }
   .header_light{
      height: 460px;
   }
   .header_dark_wrap{
      /* flex-direction: column; */
      max-width: 295px;
      margin: 0 auto;
   }
   .header_light_wrap{
      max-width: 295px;
   }
   .logo{
      display:none;
      /* width: 130px;
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 10px; */
   }
   .burgerMenu{
      display: flex;
      align-items: center;
      cursor: pointer;
   }
   .burgerButton{
      width: 24px;
      height: 15px;
      margin-right: 10px;
      position: relative;
      cursor: pointer;
      background-color:#DADADA;
   }
   .burgerButton::before{
      content: '';
      position: absolute;
      top: 0;
      width: 24px;
      height: 3px;
      background-color: black;
   }
   .burgerButton span{
      position: absolute;
      top: 6px;
      width: 24px;
      height: 3px;
      background-color: black;
   }
   .burgerButton::after{
      content: '';
      position: absolute;
      bottom: 0;
      width: 24px;
      height: 3px;
      background-color: black;
   }
}